<ion-view title="Clients" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-ios7-refresh-empty" ng-click="refresh()"></button>
  </ion-nav-buttons>
  <div class="bar bar-subheader bar-stable item-input-inset clients-search-bar">
    <form class="item-input-wrapper" id="clientsSearchForm">
      <i class="icon ion-ios7-search placeholder-icon"></i>
      <input type="search" placeholder="Search" ng-model="options.FreeText" dng-change="divideClients()" id="txt_clients_search">
    </form>
    <button class="button button-clear" ng-show="options.FreeText!==''" ng-click="clearSearch()"><i class="icon ion-ios7-close-outline"></i></button>
  </div>
  <ion-content class="has-subheader">
    <div class="list">
      <div id="{{divider}}" class="item item-divider" ng-repeat-start="divider in dividers" ng-if="dividedClients[divider].length > 0">
        <strong>{{divider}}</strong>
      </div>
      <a class="item" ng-repeat="c in dividedClients[divider]" href="">
        <h2>{{c.OrganizationName|| c.Email}}</h2>
        <p>{{c.ContactName}}</p>
      </a>
      <div ng-repeat-end></div>
    </div>
    
    <ion-infinite-scroll on-infinite="loadMoreClients()" distance="1%" ng-if="isMoreClients"></ion-infinite-scroll>
  </ion-content>
</ion-view>
