<ion-view title="Dashboard" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-content class="page page-dashboard">
    <div class="list">
      <a class="item item-icon-left" href="#/edit-client">
        <i class="icon ion-person"></i>
        <h2>Create Contact</h2>
        <p>Add customer information here.</p>
      </a>
      <a class="item item-icon-left" href="#/edit-invoice">
        <i class="icon ion-document"></i>
        <h2>Create Invoice</h2>
        <p>Send invoice to your customer's inbox.</p>
      </a>
      <a class="item item-icon-left" href="#/edit-estimates">
        <i class="icon ion-document"></i>
        <h2>Create Estimate</h2>
        <p>Send estimates to your prospective customers.</p>
      </a>
    </div>
  </ion-content>
</ion-view>
