@import "global/loader";
@import "global/fonts";
@import "global/variables";
@import "global/mixins";
@import "global/icons";
@import "global/responsive";

body{
  color: $my-app-textcolor;
  a{
    text-decoration: none;
    color: $my-app-textcolor;
  }
  form {
    text-align: center;
  }
}

.clear{
  clear: both;
}

ng-form {
  display: block;
}

.page{
  background-color: $my-app-backcolor;
}

@import "partials/navbar";
@import "partials/sidemenu";
@import "partials/login";
@import "partials/clients";
@import "partials/invoices";