$my-app-backcolor:          #ffffff !default;
$my-app-textcolor:          #000000 !default;

$my-sidemenu-textcolor:     #ffffff !default;
$my-sidemenu-backcolor:     #444444 !default;

$my-listitem-maintitle-fontsize-phone:     16px !default;
$my-listitem-subtitle-fontsize-phone:     12px !default;

$my-listitem-maintitle-fontsize-pad:     20px !default;
$my-listitem-subtitle-fontsize-pad:     15px !default;

$my-listitem-maintitle-color:     #333 !default;
$my-listitem-subtitle-color:     #888 !default;