.page.page-invoices-estimates {

  .item-body{
    .button{
      margin-top: 10px;
      max-width: 100%;
      width: 100%;
    }
    .item-content {
      padding: 5px;
    }
  }
} 
.page.page-edit-invoice-estimate {
  .item-divider{
    i {
      float: right;
      font-size: 20px;
    }
    i:active {
      color:#ccc;
    }
  }
  .item-body{
    .button{
      margin-top: 10px;
      max-width: 100%;
      width: 100%;
    }
    .ion-option-button{
      margin-top: 0px;
      width: auto;
    }
    .item-content {
      padding: 2px;
    }
  }
} 

.page.page-add-line-item {
  .input-label{
    text-align:left;
    span {
      color: red;
    }
  }
} 