<ion-view title="Clients" hide-back-button="true" cache-view = "false">
  <ion-header-bar class="bar bar-header bar-dark">
    <button class="button button-clear" ng-click="addItemModal.hide()">Cancel</button>
    <h1 class="title">Add New Item</h1>
    <button class="button button-clear" ng-click="addLineItem()" ng-disabled="addLineItemForm.$invalid">Done</button>
  </ion-header-bar>
  <ion-content class="has-subheader page page-add-line-item">
    <ion-list>
      <form name="$parent.addLineItemForm">
        <ion-item class="item item-input">
          <span class="input-label">Item Name <span>*</span></span>
          <input type="text" placeholder="" ng-model="lineitem.ItemId" required>
        </ion-item>
        <ion-item class="item item-input">
          <span class="input-label">Description</span>
          <input type="text" placeholder="" ng-model="lineitem.ItemDescription">
        </ion-item>
        <ion-item class="item item-input">
          <span class="input-label">Price <span>*</span></span>
          <input type="number" placeholder="" ng-model="lineitem.ItemPrice" required>
        </ion-item>
        <ion-item class="item item-input">
          <span class="input-label">Quantity <span>*</span></span>
          <input type="number" placeholder="" ng-model="lineitem.ItemQuantity" required>
        </ion-item>
        <ion-item class="item item-select">
          <span class="input-label">Tax1</span>
          <select ng-options="item.Id as item.Name+' '+item.Number for item in taxes" ng-model="lineitem.TaxId1"></select>
        </ion-item>
        <ion-item class="item item-select">
          <span class="input-label">Tax2</span>
          <select ng-options="item.Id as item.Name+' '+item.Number for item in taxes" ng-model="lineitem.TaxId2"></select>
        </ion-item>
        <div class="item item-divider">Total : <span ng-show="setTotal()">$</span>{{setTotal() | number:2}}</div>
      </form>
    </ion-list>
  </ion-content>
</ion-view>